<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
        }

        .container {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">THE BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/posts/new}">New Post</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <form th:action="@{/logout}" method="POST" class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="content">
        <div class="post">
            <h2 th:text="${post.title}">Title</h2>
            <h5 th:text="'Created at ' + ${post.createdAt}">Created At</h5>
            <h5 th:text="'Updated at ' + ${post.updatedAt}">Updated At</h5>
            <p th:text="${post.body}">body text</p>
        </div>
        <ul sec:authorize="isAuthenticated()">
            <li><a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a></li>
            <li><a th:href="@{'/posts/' + ${post.id} + '/delete'}">Delete</a></li>
        </ul>
        <hr />

        <h4>Add Comment</h4>
        <form th:action="@{'/posts/' + ${post.id} + '/comments'}" method="post">
            <div class="form-group">
                <label for="new-comment">Comment</label>
                <textarea id="new-comment" th:field="*{comment.body}" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr />

        <h4>Comments</h4>
        <div th:each="comment : ${post.comments}">
            <p th:text="${comment.body}">comment body</p>
            <p th:text="'By ' + ${comment.account.email} + ' on ' + ${comment.createdAt}">comment details</p>
            <hr />
        </div>
    </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">© 2023 Spring Boot Blog Application</span>
            <ul class="list-inline float-right">
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                <li class="list-inline-item"><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
